header {
    background-image: linear-gradient(grey, yellow);
    height: 150px;
    text-align: center;
    padding: 20px;
}

table {
    width: 75%;
    text-align: center;
    font-size: 20px;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 15px;
    margin-bottom: 10px;
}

thead {
    background: whitesmoke;
}

tr:nth-child(even) {
    background-color: grey;
}

tr:hover {
    background-color: #031930;
    color: white;
}

button{
    background-color: #031930;
    color: white;
    font-size: 12px;
    padding: 5px 18px;
    border-radius: 8px;
    border: solid whitesmoke;
}