.header {
    background-image: linear-gradient(grey, yellow);
    height: 150px;
    text-align: center;
    padding: 20px;
}

.header-photo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}